html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: black;
    font-family: 'Arya', sans-serif;
}
h1{
    color: #FFF;
    text-align: center;
    font-size: 50px;
    margin-top: 10vh;
    font-family: 'Merriweather', serif;
}

p{
    color: white;
}

.speed{
    text-align: right;
}

.contact{
    text-align: left;
    height: 10vh;
}
.columns{
    margin: 0;
    padding: 0;
}
.column{
    padding: 0;
    margin: 0;
}

video{
    width: 100vw;
    size: 100%;
}

.pop{
    background-color: black;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.first-page2{
    opacity: 0;
    transition: opacity 1s linear;

}

.first-page3{
    display: none;
    z-index: 0;
}

#hidden{
    height: 50vh;
    width: 50vw;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden-2{
    background-color: black !important;
}

.oui{
    opacity: 0;
    font-size: 20px;
}

.oui-2{
    color: white;
    opacity: 1;
    transition: opacity 2s ease;
}

.oui-3{
    transition: font-size 2s ease;
    font-size: 40px;
}


header{
    height: 10vh;
    position: fixed;
    width: 100vw;
    z-index: 2;
    padding: 0;
    margin: 0 !important;

}

.logo{
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50px;
}

.logo-moto{
    margin-left: 2vw;
    height:5vh; 
}

.moto{
    margin-left: 2vw;
}

.user,.achat{
    border-radius: 0;
    height: 4vh; 
}
.achat{
    margin-left: 2vw;
}

.user{
    margin-left: 38vw;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }

li {
  float: left;
  margin:0;
  padding:0;
  line-height: 10vh;
  font-family: 'Montserrat', sans-serif;
}


li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.margin-left{
    margin-left: 2vw;
}

li a:hover{
  color : #FF8000;
  transition: color .2s ease;
}

li a.active{
  color: #FF8000;
}

a img:hover{
    filter: brightness(0) invert(1);
}

.first-page{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.bg{
    background-image: url(image/moto.jpg);
    height: 100vh;
    width: 100vw;
    background-size: 100%;
    background-repeat: no-repeat;
}

.arrow{
position : absolute;
bottom: 20px;
left:49%;
width: 40px;
height: 40px;
}
.arrow:hover{
    animation: arrow 1s;
}

@keyframes arrow{
0%{
    transform: translateY(0);
}
33%{
    transform: translateY(10px);
}
66%{
    transform: translateY(-10px);

}
100%{
    transform: translateY(0px);

}
}

#page2{
    height: 100vh;
    background-size: 100%;
}
#page3{
    margin-top:50vh;
    height: 100vh;
    background-size: 100%;
    color:white;
}


#container {
    width: 100%;
    height: 100%;
    position: relative;
 }
 
 #container IMG {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
 }
 
 #container IMG.play {
    opacity: 1;
 }
 
 #container IMG.picture {
    opacity: 0;
 }
 
 #container:hover IMG.play {
    opacity: 0;
 }
 
 #container:hover IMG.picture {
    opacity: 1;
 }

 